<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

    <select id="getList" resultType="com.gura.spring.member.dto.MemberDto">
        select num,name, addr
        from member
        order by num asc
    </select>

    <insert id="insert" parameterType="com.gura.spring.member.dto.MemberDto">
        insert into member
        (num, name, addr)
        values (member_seq.nextval, #{name}, #{addr})
    </insert>
</mapper>