<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="file">
    <insert id="insert" parameterType="fileDto">
        INSERT INTO BOARD_FILE
            (NUM, WRITER, TITLE, ORGFILENAME, SAVEFILENAME, FILESIZE, REGDATE)
        VALUES (BOARD_FILE_SEQ.NEXTVAL, #{writer}, #{title},
                #{orgFileName}, #{saveFileName}, #{fileSize}, SYSDATE)
    </insert>
    <select id="getData" parameterType="int" resultType="fileDto">
        SELECT NUM, WRITER, TITLE, ORGFILENAME, SAVEFILENAME, FILESIZE, REGDATE
        FROM BOARD_FILE
        WHERE NUM = #{num}
    </select>
    <delete id="delete" parameterType="int">
        DELETE
        FROM BOARD_FILE
        WHERE NUM = #{num}
    </delete>
    <select id="getList" parameterType="fileDto"
            resultType="fileDto">
        SELECT *
        FROM (SELECT result1.*, ROWNUM AS rnum
        FROM (SELECT NUM, WRITER, TITLE, ORGFILENAME, SAVEFILENAME, FILESIZE, REGDATE
        FROM BOARD_FILE
        <choose>
            <when test="title != null and orgFileName != null">
                WHERE TITLE LIKE '%'||#{title}||'%' OR ORGFILENAME LIKE '%'||#{orgFileName}||'%'
            </when>
            <when test="title != null">
                WHERE TITLE LIKE '%'||#{title}||'%'
            </when>
            <when test="writer != null">
                WHERE WRITER LIKE '%'||#{writer}||'%'
            </when>
        </choose>
        ORDER BY NUM DESC) result1)
        WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
    </select>
    <select id="getCount" parameterType="fileDto" resultType="int">
        SELECT NVL(MAX(ROWNUM), 0)
        FROM BOARD_FILE
        <choose>
            <when test="title != null and orgFileName != null">
                WHERE TITLE LIKE '%'||#{title}||'%' OR ORGFILENAME LIKE '%'||#{orgFileName}||'%'
            </when>
            <when test="title != null">
                WHERE TITLE LIKE '%'||#{title}||'%'
            </when>
            <when test="writer != null">
                WHERE WRITER LIKE '%'||#{writer}||'%'
            </when>
        </choose>
    </select>
</mapper>