<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">
    <sql id="searchCondition">
        <choose>
            <when test="caption != null">
                WHERE CAPTION LIKE '%'||#{caption}||'%'
            </when>
            <when test="writer != null">
                WHERE WRITER LIKE '%'||#{writer}||'%'
            </when>
        </choose>
    </sql>

    <select id="getList" parameterType="galleryDto" resultType="galleryDto">
        SELECT * FROM
        (SELECT result1.*, ROWNUM AS rnum
        FROM
        (SELECT NUM, WRITER, CAPTION, IMAGEPATH, REGDATE
        FROM BOARD_GALLERY
        <include refid="searchCondition"/>
        ORDER BY num DESC) result1)
        <![CDATA[
      WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
      ]]>
    </select>

    <select id="getCount" parameterType="galleryDto" resultType="int">
        SELECT NVL(MAX(ROWNUM), 0)
        FROM BOARD_GALLERY
        <include refid="searchCondition"/>
    </select>

    <insert id="insert" parameterType="galleryDto">
        INSERT INTO BOARD_GALLERY
            (NUM, WRITER, CAPTION, IMAGEPATH, REGDATE)
        VALUES (BOARD_GALLERY_SEQ.NEXTVAL, #{writer}, #{caption},
                #{imagePath}, SYSDATE)
    </insert>

    <select id="getData" parameterType="int" resultType="galleryDto">
        SELECT result1.*
        FROM (SELECT NUM, WRITER, CAPTION, IMAGEPATH, REGDATE,
                     TO_CHAR(REGDATE, 'YY.MM.DD HH24:MI') AS  regdate,
                     LAG(NUM, 1, 0) OVER (ORDER BY NUM DESC)  nextNum,
                     LEAD(NUM, 1, 0) OVER (ORDER BY NUM DESC) prevNum
              FROM BOARD_GALLERY) result1
        WHERE NUM = #{num}
    </select>

    <select id="getData2" parameterType="galleryDto" resultType="galleryDto">
        SELECT result1.*
        FROM
        (SELECT NUM, WRITER, CAPTION, IMAGEPATH, TO_CHAR(REGDATE, 'YY.MM.DD HH24:MI') AS regdate,
        LAG(NUM, 1, 0) OVER (ORDER BY NUM DESC) nextNum,
        LEAD(NUM, 1, 0) OVER (ORDER BY NUM DESC) prevNum
        FROM BOARD_GALLERY
        <include refid="searchCondition"/>
        ) result1
        WHERE NUM=#{num}
    </select>

    <delete id="delete" parameterType="int">
        DELETE
        FROM BOARD_GALLERY
        WHERE num = #{num}
    </delete>

    <update id="update" parameterType="galleryDto">
        UPDATE BOARD_GALLERY
        SET CAPTION   = #{caption},
            IMAGEPATH = #{imagePath}
        WHERE num = #{num}
    </update>

</mapper>